button {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  background-color: lightpink;
  margin: 10px;
  font-size: 30px;
}
button:hover {
  background-color: lightgreen;
  cursor: pointer;
}

.result {
  font-size: 30px;
  font-weight: 400;
  display: grid;
  place-content: center;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 9fr 3fr;
  grid-template-rows: 9fr 4fr;
  background-color: lightgray;
  grid-template-areas:
    'backgroundImage ladder'
    'questions questions';
}

.background {
  grid-area: backgroundImage;
  background-color: black;
}

.background > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.ladder {
  grid-area: ladder;
  background-color: darkblue;
}

.questions {
  grid-area: questions;
  background-color: darkblue;
  display: grid;
  place-items: center;
}

.questionWrapper {
  width: 90%;
  display: grid;
  place-items: center;
}

.questionText {
  width: 100%;
  border: 5px solid orange;
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 20px;
  font-family: 'Arial';
  font-size: 18px;
  text-align: center;
}

.questionAnswerFirstRow,
.questionAnswerSecondRow {
  display: flex;
  margin: 10px;
  width: 60%;
}

.questionAnswerA,
.questionAnswerB,
.questionAnswerC,
.questionAnswerD {
  padding: 10px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  cursor: pointer;
  background-color: black;
  border-radius: 5px;
}
.questionAnswerA:hover,
.questionAnswerB:hover,
.questionAnswerC:hover,
.questionAnswerD:hover {
  background-color: orange;
  color: black;
}
.ladder {
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 8fr;
  place-items: center;
}
.ladderIcons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.ladderIcon5050 {
  color: gold;
  font-family: Arial;
  font-size: 30px;
  border-radius: 40%;
  border: 3px solid gold;
  padding: 5px;
  box-sizing: border-box;
}

.fa-users {
  color: gold;
  transform: scale(3.6);
}

.fa-phone-square {
  color: gold;
  transform: scale(3.6);
}

.ladderIcon5050:hover,
.fa-phone-square:hover,
.fa-users:hover {
  color: white;
  cursor: pointer;
}

.ladderIcon5050:hover {
  border: 2px solid white;
}

.ladderRanks {
  width: 100%;
  margin-right: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: gold;
  letter-spacing: 5px;
  font-weight: 600;
}
.ladderSingleRank {
  padding: 2px;
}

.gameOverModal {
  width: 400px;
  height: 400px;
  background-color: darkblue;
  border-radius: 10px;
  border: 3px solid orange;
  color: white;
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 1000;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}

.gameOverModalButton {
  width: 100px;
  height: 30px;
  border: 1px sold orange;
  border-radius: 5px;
  background-color: black;
  cursor: pointer;
  color: white;
  display: grid;
  place-items: center;
}

.gameOverModalButton:hover {
  background-color: orange;
  color: black;
}

.fa-check-circle {
  color: red;
  transform: scale(3);
}
